@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,400&family=Roboto+Mono:ital,wght@0,400;1,700&family=Source+Sans+Pro:wght@400;600;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/*  
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Source Sans Pro', sans-serif; 

    font-family: 'Ubuntu', sans-serif; Main font
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.6s;
  scroll-behavior: smooth;
  
}

:root {
  --mainColor: #9ef23e;
  --btn-color: #4d5168;
}

body {
  height: 500vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* using flex display, made a nav bar first  */
nav {
  z-index: 99;
  font-weight: 500;
  padding: 0rem 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.85);
}




.nav-logo {
  font-size: 2.5rem;
  color: var(--mainColor);
}

.navbar .active {
  display: block;
}
.nav-menu li {
  display: inline-block;
  list-style-type: none;
}

.nav-menu li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: #333;
}

.nav-menu li a:hover {
  color: var(--mainColor);
}

.toggle {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  display: none;
}


.navbar.fixed {
  background-color: rgb(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}

.btn {
  background-color: var(--btn-color);
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  border-radius: 1rem;
  margin-top: 1rem;
  /* box-shadow: 1px 1.5px 2px black; */
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  /* letter-spacing: .1rem; */
  border: 1px solid var(--btn-color);
}

.btn:hover {
  background-color: #fff;
  border: 1px solid var(--mainColor);
  color: var(--btn-color);

}

#up {
  background-color: var(--btn-color);
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  z-index: 100;
}

#up:hover {
  background-color: var(--mainColor);
}

#home {
  margin-bottom: 2rem;
}

#home .home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
}

.home-content,
.home-img {
  width: 50%;
}

.home-content {
  color: #333;
}

.home-content h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin: 1rem 0;
  text-shadow: 1px 1px 2px black;
}

p {
  line-height: 1.5rem;
}

.title {
  padding: 2rem 0;
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.home-img {
  text-align: center;
}

.home-img img {
  width: 30vw;
  height: 30vw;
  border: 2px solid var(--mainColor);
  border-radius: 50%;
}

/* Service Section  */

#service .container {
  padding: 3rem 5rem;
}

#service .service-header {
  text-align: center;
}

.service-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-body .service-img,
.service-box-container,
.service-box-container .service-content {
  width: 50%;
}

.service-img {
  text-align: center;
}

.service-img img {
  width: 30vw;
  height: 30vw;
}

.service-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.service-box-container .service-box .service-box-img {
  width: 10%;
}

.service-box-container .service-box .service-content {
  width: 80%;
  padding: 2rem 2rem;
}

.service-box .service-box-img svg {
  fill: var(--mainColor);
}

/* Project Boxs  */

#project .container {
  background: linear-gradient(to right, var(--mainColor), #11d8c4);
  padding: 1.5rem 3rem;
}

#project .container {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  flex-wrap: wrap;
}

#project .container .project-box {
  text-align: center;
}

#project .container .project-box span {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  margin-top: 1rem;
  display: inline-block;
  text-shadow: 1.5px 1px 2px black;
}

#project .container .project-box p {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1rem 1rem 0 0;
}

/* Portfolio  */

.portfolio {
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio .title {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1.5px black;
}
.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem;
}

.portfolio .container .portfolio-box {
  width: 32%;
  height: 25rem;
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
}

.portfolio .container .portfolio-box .portfolio-box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio .container .portfolio-box .portfolio-box-img img {
  object-fit: contain;
  object-position: center;
}

.portfolio .container .portfolio-box .portfolio-box-text {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #fff;
  position: absolute;
  background-color: rgba(12, 12, 12, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}

.portfolio .container .portfolio-box:hover .portfolio-box-text {
  transform: translateY(0%);
}

/* About Me  */

.about {
  padding: 2rem 5rem 0 5rem;
}
.about h1,
.about p {
  text-align: center;
}

.about-me-text p {
  /* padding: 1rem 4rem; */
  margin-bottom: 4rem;
  line-height: 2rem;
}

.about-me-text h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.about .about-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

.about .about-container .about-img-container {
  width: 30%;
  height: 100%;
}

.about .about-container .about-img-container img {
  width: 25vw;
  height: 25vw;
  /* border: 2px solid var(--mainColor);
  border-radius: 50%; */
}

.about .about-container .about-content-container p {
  text-align: left;
  margin-top: 1rem;
}

.about-container .about-content-container h1 {
  text-align: left;
  font-size: 2rem;
}
.about .about-container .about-content-container {
  width: 70%;
  padding: 1rem 2rem;
}

.about .about-container .about-content-container .icons i {
  padding: 2rem 0rem 4rem 2rem;
  font-size: 2rem;
  color: #4d5168;
  cursor: pointer;
}

.about .about-container .about-content-container .icons i:hover {
  color: var(--mainColor);
}

.about-logos {
  width: 100%;

  /* height: 100%; */
}

.about-logos .logos {
  background: linear-gradient(to right, var(--mainColor), #11d8c4);

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 4rem 5rem;
  margin-bottom: 5rem;
}

.about-logos .logos .logos-svg {
  width: 10%;
  fill: #333;
}

.review-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem 4rem;
  background-color: #FAFAFA;
}

.review-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #fff;
  width: 32%;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  color: #4d5168;
  /* text-align: center; */
}

.review-box:hover {
  box-shadow: 2px 2px 4px rgba(51, 51, 51, 0.849);
}

.review-box .header {
  display: flex;
}

.review-box .header img {
  width: 55px;
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 2.5rem;
}

.review-box p {
  padding: 2rem 0;
}

/* Blog Section  */

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
}

.blog-container h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

.blog-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  margin: 5rem 0 2rem 0;
}

.blog-container button {
  font-size: 1.2rem;
}

.blog-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 25vw;
  /* border: 1px solid #333; */
}

.blog-box img {
  width: 45%;
  height: 100%;
}

.blog-box .blog-text {
  width: 50%;
  color: #4d5168;
}

.blog-box .blog-text h1 {
  margin: 1.2rem 0;
  font-size: 1.2rem;
  text-shadow: none;
}

/* pricing section  */

.pricing-container {
  text-align: center;
  margin: 5rem 0;
}

.pricing-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
  padding: 2rem 5rem;
}

.pricing-boxes {
  color: #4d5168;
  width: 30%;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
}

.pricing-boxes:hover {
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.815);
}

.pricing-boxes .pricing-features {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.pricing-boxes .pricing-features h3 {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0.8rem;
}

.pricing-boxes h1 {
  margin: 2rem 0;
}

.pricing-boxes .pricing-button {
  width: 100%;
  height: 5rem;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 0 1.5rem 1.5rem;
}

.pricing-boxes b {
  font-size: 3rem;
}

.pricing-boxes .pricing-button a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
}

.pricing-boxes:hover .pricing-button {
  background: linear-gradient(to right, var(--mainColor), #11d8c4);
}
.pricing-container .pricing-title {
  font-size: 2rem;
  text-shadow: 1px 1px 2px black;
}

/* contact section  */

.contact-main-container {
  text-align: center;
  
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;


}

.form-container .contact-form {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 50%;
  padding: 0 5rem;
}

.contact-form input {
  width: 100%;
  border: none;
  padding: 1.5rem 0.5rem;
  background-color: #fff;
  outline: none;
  
  transition: 1s;
}

.contact-form .message-box {
  height: 10rem;
  padding: none;
  text-align: left;

}
.contact-form input:focus {
  border-bottom: 2px solid #9ef23e;
}
/************** 
  Media Query  
***************/

/* 
    Making a toggle using display none and block 
 */
@media (max-width: 992px) {

  .toggle {
    display: block;
  }
  

  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu li {
    display: block;
  }

  /* .toggle:hover ~ .nav-menu {
    display: block;
  } */

  /* project boxs  */
  #project .container {
    padding-bottom: 2rem;
  }

  #project .container .project-box {
    width: 40%;
  }

  #project .container .project-box p {
    border-radius: 1rem;
  }

  /* portfolio  */
  .portfolio .container .portfolio-box {
    width: 40%;
  }
}

@media (max-width: 768px) {
  #home .home-container {
    flex-wrap: wrap-reverse;
  }

  .home-content,
  .home-img {
    width: 100%;
    padding-bottom: 2rem;
  }

  .home-img img {
    width: 40vw;
    height: 40vw;
  }

  /* review boxs  */
  .review-box {
    width: 80%;
  }

  /* blog boxes  */

  .blog-box {
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 576px) {
  /* service  */
  .service-body .service-box-img,
  .service-box-container,
  .service-box-container .service-box .service-content {
    width: 100%;
  }

  .service-body .service-img {
    text-align: center;
  }

  .service-box .service-content {
    text-align: justify;
  }

  .service-box-img svg {
    width: 10vw;
  }

  /* project boxs  */

  #project .container .project-box {
    width: 100%;
  }

  /* portfolio  */
  .portfolio .container .portfolio-box {
    width: 100%;
  }

  /* about logos  */
  .about-logos .logos .logos-svg {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
